In [ ]:
import subprocess
from sqlalchemy.engine.create import create_engine
! pip install psycopg2-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 3.0 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

In [ ]:
raw_db_url='dpaclsxjrpfluk:4fa14e6fdb846bd14d1a9eda261d554fab9688f2f4dd5483bc38d94cdee010ad@ec2-3-219-52-220.compute-1.amazonaws.com:5432/d7s0s0hs0a5lar'

In [ ]:
 # Copy paste this code
import subprocess
from sqlalchemy.engine.create import create_engine

# Convert binary string to a regular string & remove the newline character
db_url = raw_db_url

# Convert "postgres://<db_address>"  --> "postgresql+psycopg2://<db_address>" needed for SQLAlchemy
final_db_url = "postgresql+psycopg2://" + db_url.lstrip("postgres://")  # lstrip() is more suitable here than replace() function since we only want to replace postgres at the start!


# Create SQLAlchemy engine
# ------------------------
engine = create_engine(final_db_url)

In [12]:
# To upload a file in google collab

from google.colab import files
uploaded = files.upload()

Saving austinHousingData.csv to austinHousingData (1).csv

In [14]:
# Use a file that has been uploaded, read into pandas dataframe.
import io
import pandas as pd

df2 = pd.read_csv(io.BytesIO(uploaded['austinHousingData.csv']))

In [16]:
# SQL to dataframe using sqlalchemy
import pandas as pd

df = pd.read_sql_table('raw_housing_data_2', engine)
df.head()

,index,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [17]:
zipcodes = df["zipcode"].unique()
zipcodes

array([78660, 78617, 78717, 78724, 78747, 78725, 78726, 78744, 78732,
       78750, 78729, 78719, 78731, 78730, 78723, 78753, 78745, 78733,
       78757, 78746, 78735, 78737, 78734, 78619, 78759, 78739, 78748,
       78652, 78703, 78653, 78704, 78727, 78756, 78721, 78758, 78754,
       78749, 78728, 78736, 78741, 78751, 78722, 78742, 78752, 78738,
       78705, 78702, 78701])

In [18]:
years = df["latest_saleyear"].unique()
years

array([2019, 2020, 2018, 2021])

In [20]:
df2 = df[df["latest_saleyear"] < 2020]
df2.head()

,index,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
2,2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg
7,7,60134835,pflugerville,15009 Drusillas Dr,78660,"Wonderful home, freshly painted throughout, ne...",30.439404,-97.658035,1.98,0,...,1,1,1.166667,4.000000,1223,14,3.0,3,2,60134835_47efc51704a66b45a8a134022ceeddb1-p_f.jpg

In [21]:
years2 = df2["latest_saleyear"].unique()
years2

array([2019, 2018])

In [22]:
zipcodes2 = df2["zipcode"].unique()
zipcodes2

array([78660, 78617, 78717, 78747, 78725, 78744, 78726, 78732, 78724,
       78729, 78731, 78750, 78730, 78753, 78733, 78746, 78745, 78735,
       78734, 78737, 78719, 78759, 78619, 78748, 78739, 78757, 78703,
       78653, 78704, 78756, 78721, 78758, 78754, 78749, 78728, 78736,
       78727, 78742, 78741, 78752, 78738, 78705, 78702, 78701, 78722,
       78723, 78751])

In [23]:
per_zipcodes = df2["zipcode"].value_counts()
per_zipcodes

78748    717
78745    632
78749    506
78739    405
78704    403
78732    377
78759    377
78737    359
78717    345
78757    331
78731    329
78723    327
78753    315
78754    280
78744    277
78727    265
78758    251
78747    247
78702    240
78729    219
78735    215
78750    215
78703    204
78730    154
78721    151
78733    147
78724    143
78741    135
78728    135
78746    129
78751    117
78725    110
78752    105
78726    105
78736     92
78756     89
78722     65
78617     62
78705     52
78660     20
78619      7
78701      7
78734      5
78653      2
78742      2
78719      1
78738      1
Name: zipcode, dtype: int64