In [4]:
import subprocess
import pandas as pd
from sqlalchemy.engine.create import create_engine
raw_db_url='dpaclsxjrpfluk:4fa14e6fdb846bd14d1a9eda261d554fab9688f2f4dd5483bc38d94cdee010ad@ec2-3-219-52-220.compute-1.amazonaws.com:5432/d7s0s0hs0a5lar'

In [5]:

# Convert binary string to a regular string & remove the newline character
db_url = raw_db_url

# Convert "postgres://<db_address>"  --> "postgresql+psycopg2://<db_address>" needed for SQLAlchemy
final_db_url = "postgresql+psycopg2://" + db_url.lstrip("postgres://")  # lstrip() is more suitable here than replace() function since we only want to replace postgres at the start!


# Create SQLAlchemy engine
# ------------------------
engine = create_engine(final_db_url)

# dataframe to sql
df = pd.read_sql_table('raw_housing_data_2', engine)

In [27]:
filtered_df = df[df["numOfBathrooms"] == 4 ]

In [31]:
    filtered_df =filtered_df.loc[(filtered_df["livingAreaSqFt"] >= (3000 - 100)) & (filtered_df["livingAreaSqFt"] <= (3000 + 100))]

In [33]:
filtered_df =filtered_df.loc[(filtered_df["latestPrice"] >= (600000 - 50000)) & (filtered_df["livingAreaSqFt"] <= (600000 + 50000))]

In [35]:
filtered_df = filtered_df.loc[(filtered_df["numOfBathrooms"] == 4)]

In [38]:
columns = ["zpid","city","zipcode", "latitude", "longitude","latestPrice", "numOfBathrooms", "livingAreaSqFt","streetAddress"]

In [39]:
filtered_df = filtered_df[columns]

In [40]:
filtered_df

,zpid,city,zipcode,latitude,longitude,latestPrice,numOfBathrooms,livingAreaSqFt,streetAddress
31,116080975,austin,78717,30.488997,-97.793793,650000.0,4.0,3047.0,10912 Crosbyton Ln
121,29358983,austin,78750,30.375465,-97.797325,750000.0,4.0,2922.0,7004 Juneberry Cv
282,241930950,austin,78726,30.432129,-97.842316,557000.0,4.0,3013.0,9003 Bayshore Bnd UNIT 17
307,58298947,austin,78750,30.375725,-97.800110,798500.0,4.0,2927.0,6906 Agave Cv
363,29344906,austin,78730,30.337337,-97.823334,750000.0,4.0,3009.0,3100 Smoky Rdg
...,...,...,...,...,...,...,...,...,...
14645,29335067,austin,78703,30.295588,-97.763939,1999999.0,4.0,3004.0,2304 Indian Trl
14647,29340236,austin,78731,30.312094,-97.751823,1450000.0,4.0,3001.0,3903 Idlewild Rd
14810,29405007,austin,78756,30.312622,-97.739326,1327000.0,4.0,2964.0,4401 Marathon Blvd
15016,29411350,austin,78731,30.325035,-97.748398,1250000.0,4.0,3005.0,2620 W 49th 1/2 St
15066,29414106,austin,78756,30.332067,-97.743378,1075000.0,4.0,2952.0,5604 Shoalwood Ave

In [42]:
import json
output_filename = 'dataset.js'
with open(output_filename, 'wb') as output_file:
    output_file.write(json.dump(filtered_df.to_json(orient = 'records'), output_file, indent=2) )

NameError: name 'json' is not defined