<a href="https://colab.research.google.com/github/raneymjohnGit/Austin_TX_House_Listings/blob/jayanbranch/Machine_Learning_Model_First_Draft_Simple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import dependencies

import pandas as pd # data processing
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
import seaborn as sb # visualization
from termcolor import colored as cl # text customization

from sklearn.model_selection import train_test_split # data split

from sklearn.linear_model import LinearRegression # OLS algorithm
from sklearn.linear_model import Ridge # Ridge algorithm
from sklearn.linear_model import Lasso # Lasso algorithm
from sklearn.linear_model import BayesianRidge # Bayesian algorithm
from sklearn.linear_model import ElasticNet # ElasticNet algorithm

from sklearn.metrics import explained_variance_score as evs # evaluation metric
from sklearn.metrics import r2_score as r2 # evaluation metric

sb.set_style('whitegrid') # plot style
plt.rcParams['figure.figsize'] = (40, 20) # plot size

In [3]:
# Install Postgresql, ipython, psycopg2
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
! pip install ipython-sql
! pip install psycopg2 

# set connection to Heroku SQL Database
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
%sql postgresql://dpaclsxjrpfluk:4fa14e6fdb846bd14d1a9eda261d554fab9688f2f4dd5483bc38d94cdee010ad@ec2-3-219-52-220.compute-1.amazonaws.com:5432/d7s0s0hs0a5lar

The syntax of the command is incorrect.
'service' is not recognized as an internal or external command,
operable program or batch file.
'sudo' is not recognized as an internal or external command,
operable program or batch file.

Requirement already satisfied: ipython-sql in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (1.4.27)
Requirement already satisfied: six in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable<1 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: colorama in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.10.0.2)
Requirement already satisfied: psycopg2 in c:\users\jayan\anaconda3\envs\pythondata\lib\site-packages (2.9.3)
(psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: fe_sendauth: no password supplied

(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
# Import dependencies
import pandas as pd #pandas for dataframe manipulation

# Reflect table as dataframe using SQL Magic
df = %sql SELECT * FROM raw_housing_data;
df.head(5)

 * postgresql://dpaclsxjrpfluk:***@ec2-3-219-52-220.compute-1.amazonaws.com:5432/d7s0s0hs0a5lar

,zpid,city,streetaddress,zipcode,latitude,longitude,propertytaxrate,garagespaces,hasassociation,hascooling,...,numofmiddleschools,numofhighschools,avgschooldistance,avgschoolrating,avgschoolsize,medianstudentsperteacher,numofbathrooms,numofbedrooms,numofstories,homeimage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,30.430632,-97.663078,1.98,2,True,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,2084491383,pflugerville,1408 Fort Dessau Rd,78660,30.409748,-97.639771,1.98,0,True,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
2,120901374,pflugerville,1025 Strickling Dr,78660,30.432112,-97.661659,1.98,2,True,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
3,60134862,pflugerville,15005 Donna Jane Loop,78660,30.437368,-97.656860,1.98,0,True,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg
4,60134835,pflugerville,15009 Drusillas Dr,78660,30.439404,-97.658035,1.98,0,True,True,...,1,1,1.166667,4.000000,1223,14,3.0,3,2,60134835_47efc51704a66b45a8a134022ceeddb1-p_f.jpg

In [5]:
# Drop any null values and check for null.
df.dropna(inplace = True)
print(cl(df.isnull().sum(), attrs = ['bold']))

zpid                          0
city                          0
streetaddress                 0
zipcode                       0
latitude                      0
longitude                     0
propertytaxrate               0
garagespaces                  0
hasassociation                0
hascooling                    0
hasgarage                     0
hasheating                    0
hasspa                        0
hasview                       0
hometype                      0
parkingspaces                 0
yearbuilt                     0
latestprice                   0
numpricechanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
latestpricesource             0
numofphotos                   0
numofaccessibilityfeatures    0
numofappliances               0
numofparkingfeatures          0
numofpatioandporchfeatures    0
numofsecurityfeatures         0
numofwaterfrontfeatures       0
numofwindowfeatures           0
numofcommunityfeatures        0
lotsizesqft                   0
livingareasqft                0
numofprimaryschools           0
numofelementaryschools        0
numofmiddleschools            0
numofhighschools              0
avgschooldistance             0
avgschoolrating               0
avgschoolsize                 0
medianstudentsperteacher      0
numofbathrooms                0
numofbedrooms                 0
numofstories                  0
homeimage                     0
dtype: int64

In [ ]:
# Print datatypes to check for features that can be use for simple linear regression (integer type only).
print(cl(df.dtypes, attrs = ['bold']))

In [ ]:
# Plot seaborn heatmap to see features that correlate
sb.heatmap(df.corr(), annot = True, cmap = 'magma')

plt.savefig('heatmap.png')
plt.rcParams['figure.figsize'] = (40, 20) # plot size
plt.show()

In [ ]:
# For first attempt, limit model to highly correlated variables from heat map.

df1 = df[['livingareasqft','avgschoolrating','numofbathrooms','latestprice']]
df1.head(10)

In [ ]:

# Produce scatter plots to visualize the variables in the limited dataset.

def scatter_df(y_var):
    scatter_df = df1.drop(y_var, axis = 1)
    i = df1.columns
    
    plot1 = sb.scatterplot(x=i[0], y=y_var, data = df1, color = 'orange', edgecolor = 'b', s = 150)
    plt.title('{} / Sale Price'.format(i[0]), fontsize = 16)
    plt.xlabel('{}'.format(i[0]), fontsize = 14)
    plt.ylabel('Sale Price', fontsize = 14)
    plt.xticks(fontsize = 12)
    plt.yticks(fontsize = 12)
    plt.savefig('scatter1.png')
    plt.show()
    
    plot2 = sb.scatterplot(x=i[1], y=y_var, data = df1, color = 'yellow', edgecolor = 'b', s = 150)
    plt.title('{} / Sale Price'.format(i[1]), fontsize = 16)
    plt.xlabel('{}'.format(i[1]), fontsize = 14)
    plt.ylabel('Sale Price', fontsize = 14)
    plt.xticks(fontsize = 12)
    plt.yticks(fontsize = 12)
    plt.savefig('scatter2.png')
    plt.show()
    
    plot3 = sb.scatterplot(x=i[2], y=y_var, data = df1, color = 'aquamarine', edgecolor = 'b', s = 150)
    plt.title('{} / Sale Price'.format(i[2]), fontsize = 16)
    plt.xlabel('{}'.format(i[2]), fontsize = 14)
    plt.ylabel('Sale Price', fontsize = 14)
    plt.xticks(fontsize = 12)
    plt.yticks(fontsize = 12)
    plt.savefig('scatter3.png')
    plt.show()
           
plt.rcParams['figure.figsize'] = (10, 5) # plot size
scatter_df('latestprice')

In [ ]:
# Split into training and testing datasets to train the models.

X_var = df1[['livingareasqft','avgschoolrating','numofbathrooms']].values
y_var = df1['latestprice'].values

X_train, X_test, y_train, y_test = train_test_split(X_var, y_var, test_size = 0.2, random_state = 42)

print(cl('X_train samples : ', attrs = ['bold']), X_train[0:5])
print(cl('X_test samples : ', attrs = ['bold']), X_test[0:5])
print(cl('y_train samples : ', attrs = ['bold']), y_train[0:5])
print(cl('y_test samples : ', attrs = ['bold']), y_test[0:5])

In [ ]:
# Train the various linear models. 

# 1. OLS

ols = LinearRegression()
ols.fit(X_train, y_train)
ols_yhat = ols.predict(X_test)

# 2. Ridge

ridge = Ridge(alpha = 0.5)
ridge.fit(X_train, y_train)
ridge_yhat = ridge.predict(X_test)

# 3. Lasso

lasso = Lasso(alpha = 0.01)
lasso.fit(X_train, y_train)
lasso_yhat = lasso.predict(X_test)

# 4. Bayesian

bayesian = BayesianRidge()
bayesian.fit(X_train, y_train)
bayesian_yhat = bayesian.predict(X_test)

# 5. ElasticNet

en = ElasticNet(alpha = 0.01)
en.fit(X_train, y_train)
en_yhat = en.predict(X_test)

In [ ]:
# Print the regression metric - Explained Variance Score.

print(cl('EXPLAINED VARIANCE SCORE:', attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('Explained Variance Score of OLS model is {}'.format(evs(y_test, ols_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('Explained Variance Score of Ridge model is {}'.format(evs(y_test, ridge_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('Explained Variance Score of Lasso model is {}'.format(evs(y_test, lasso_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('Explained Variance Score of Bayesian model is {}'.format(evs(y_test, bayesian_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('Explained Variance Score of ElasticNet is {}'.format(evs(y_test, en_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')

In [ ]:
# Print the regression metric - R-squared

print(cl('R-SQUARED:', attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('R-Squared of OLS model is {}'.format(r2(y_test, ols_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('R-Squared of Ridge model is {}'.format(r2(y_test, ridge_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('R-Squared of Lasso model is {}'.format(r2(y_test, lasso_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('R-Squared of Bayesian model is {}'.format(r2(y_test, bayesian_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')
print(cl('R-Squared of ElasticNet is {}'.format(r2(y_test, en_yhat)), attrs = ['bold']))
print('-------------------------------------------------------------------------------')

In [ ]:
# Inspect X-var array to see how to input data.

In [ ]:
# Use model to predict the price of a house in 2018-2019 with 3000 square feet of living space, an average school rating of 3, and 2 bathrooms.

prediction = ols.predict([[3000,3,2]])
prediction