<a href="https://colab.research.google.com/github/raneymjohnGit/Austin_TX_House_Listings/blob/jayanbranch/Jayan/Analysis/Preprocessing_Data_for_Heroku_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Copy paste this code

import subprocess
from sqlalchemy.engine.create import create_engine
! pip install psycopg2-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 7.4 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

In [ ]:
# Copy paste this code

raw_db_url='dpaclsxjrpfluk:4fa14e6fdb846bd14d1a9eda261d554fab9688f2f4dd5483bc38d94cdee010ad@ec2-3-219-52-220.compute-1.amazonaws.com:5432/d7s0s0hs0a5lar'

In [ ]:
 # Copy paste this code
import subprocess
from sqlalchemy.engine.create import create_engine

# Convert binary string to a regular string & remove the newline character
db_url = raw_db_url

# Convert "postgres://<db_address>"  --> "postgresql+psycopg2://<db_address>" needed for SQLAlchemy
final_db_url = "postgresql+psycopg2://" + db_url.lstrip("postgres://")  # lstrip() is more suitable here than replace() function since we only want to replace postgres at the start!


# Create SQLAlchemy engine
# ------------------------
engine = create_engine(final_db_url)

In [ ]:
# To upload a file in google collab

from google.colab import files
uploaded = files.upload()

Saving austinHousingDataRaw.csv to austinHousingDataRaw.csv

In [ ]:
# Use a file that has been uploaded, read into pandas dataframe.
import io
import pandas as pd

df3 = pd.read_csv(io.BytesIO(uploaded['austinHousingDataRaw.csv']))

In [ ]:
# For SQL join with price appreciation data, modify raw file for loading to sql
pd.set_option('display.max_columns', None)

# Strip day and hyphen from latest_saledate to mach appreciation data table
df3['month_year'] = df3['latest_saledate'].str[:-3]

# Add date column to sort for earliest and latest sale
df3['latest_saledate_dt'] = pd.to_datetime(df3['latest_saledate'], format='%Y-%m-%d')
df3.sort_values(by='latest_saledate_dt', inplace=True)

In [ ]:
# Get earliest date
df3.head()

# Earliest date is 2018-01

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,homeType,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,latest_saledate,latest_salemonth,latest_saleyear,latestPriceSource,numOfPhotos,numOfAccessibilityFeatures,numOfAppliances,numOfParkingFeatures,numOfPatioAndPorchFeatures,numOfSecurityFeatures,numOfWaterfrontFeatures,numOfWindowFeatures,numOfCommunityFeatures,lotSizeSqFt,livingAreaSqFt,numOfPrimarySchools,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage,month_year,latest_saledate_dt
10422,29467033,austin,4701 Franklin Park Dr,78744,Great Investment property or starter home! La...,30.197430,-97.741470,1.98,0,False,True,False,True,False,False,Single Family,0,1976,209900.0,3,2018-01-22,1,2018,Agent Provided,27,0,1,0,0,0,0,0,0,7056.0,1592.0,1,0,1,1,1.066667,3.000000,794,12,2.0,3,1,29467033_a73f0b7efd585147a5aaf69324fba623-p_f.jpg,2018-01,2018-01-22
840,125330933,austin,266 Emma Loop,78737,"266 Emma Loop, Austin, TX 78737 is a single fa...",30.163763,-97.940430,2.01,0,True,True,False,True,False,False,Single Family,0,2014,440000.0,2,2018-01-22,1,2018,Agent Provided,21,0,4,1,0,0,0,0,0,10497.0,2582.0,0,0,2,0,3.900000,8.000000,743,15,3.0,4,1,125330933_6bfeae76261cec597b7819c327df8a74-p_f...,2018-01,2018-01-22
2721,29376026,austin,11517 Medallion Ln,78750,Recent appraisal @ $642K!!! Great single story...,30.443314,-97.802513,1.98,0,True,True,False,True,False,False,Single Family,0,1997,679900.0,11,2018-01-22,1,2018,Agent Provided,1,0,3,1,0,0,0,0,0,13068.0,2942.0,0,1,1,1,0.866667,8.666667,1632,16,3.0,4,1,29376026_streetviewlocation11517MedallionLn2CA...,2018-01,2018-01-22
2014,70343463,austin,1911 Melissa Oaks Ln,78744,"1911 Melissa Oaks Ln, Austin, TX 78744 is a si...",30.157705,-97.782372,1.98,2,True,True,True,True,False,False,Single Family,2,2005,260000.0,2,2018-01-22,1,2018,Agent Provided,1,0,6,2,0,0,0,0,0,6260.0,2217.0,1,0,1,1,2.633333,5.333333,1057,14,3.0,3,2,70343463_d9834c6157965a7cae7a8e5dde540efe-p_f.jpg,2018-01,2018-01-22
8691,29446178,austin,4505 Bridlewood Dr,78727,Well established neighborhood of Northwood pro...,30.432798,-97.716034,1.98,2,True,True,True,True,False,False,Single Family,2,1982,325000.0,2,2018-01-23,1,2018,Agent Provided,24,0,1,2,0,0,0,0,0,8755.0,1705.0,1,0,1,1,3.600000,6.666667,1486,15,2.0,3,1,29446178_ca21b13fa3cbd3f23a8684be7102c202-p_f.jpg,2018-01,2018-01-23

In [ ]:
# Get latest date
df3.tail()

# Latest month-year is 2021-01

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,homeType,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,latest_saledate,latest_salemonth,latest_saleyear,latestPriceSource,numOfPhotos,numOfAccessibilityFeatures,numOfAppliances,numOfParkingFeatures,numOfPatioAndPorchFeatures,numOfSecurityFeatures,numOfWaterfrontFeatures,numOfWindowFeatures,numOfCommunityFeatures,lotSizeSqFt,livingAreaSqFt,numOfPrimarySchools,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage,month_year,latest_saledate_dt
15168,29473281,austin,2206 S 3rd St,78704,Original bungalow with a modern addition. Larg...,30.244835,-97.761124,1.98,2,False,True,True,True,False,False,Single Family,2,1936,875000.0,7,2021-01-27,1,2021,ABOR,20,0,3,3,0,0,0,0,0,9408.0,1524.0,1,0,1,1,0.800000,5.000000,889,13,3.0,3,2,29473281_9e90ec4652c4b3b6592a7fdd09f1ea6d-p_f.jpg,2021-01,2021-01-27
14817,83827843,austin,10920 Worn Sole Dr,78754,"Fantastic 4 bed, 3 bath home in sought after P...",30.367903,-97.653358,1.98,4,True,True,True,True,True,False,Single Family,4,2012,319900.0,1,2021-01-28,1,2021,ABOR,24,0,4,2,3,3,0,0,0,4399.0,1909.0,1,0,1,2,3.600000,4.333333,1066,12,3.0,4,2,83827843_8f989caeccbbb26186400e8b377bc767-p_f.jpg,2021-01,2021-01-28
14819,70338581,austin,11020 Reliance Creek Dr,78754,"Amazing, well maintained 4 bedroom/2 bath, 1 s...",30.357496,-97.642845,1.98,0,True,True,False,True,False,False,Single Family,0,2006,221999.0,3,2021-01-29,1,2021,Agent Provided,20,0,7,1,0,0,0,0,1,6490.0,1801.0,1,0,1,2,2.833333,4.333333,1066,12,2.0,4,1,70338581_12b71c8a827a4ee19ab386ccdbb4fe54-p_f.jpg,2021-01,2021-01-29
14122,29442299,austin,12408 Turtleback Ln,78727,"This Austin one-story home offers a patio, qua...",30.424355,-97.726814,1.98,2,False,True,True,True,True,False,Single Family,2,1982,450000.0,1,2021-01-29,1,2021,Broker Provided,33,0,2,2,0,1,0,0,0,6926.0,1574.0,1,0,1,1,2.966667,6.666667,1486,15,2.0,3,1,29442299_285a7ca799d2cdf4ea3bc0d87e9d6df4-p_f.jpg,2021-01,2021-01-29
14131,29371554,austin,6600 Three Oaks Cir,78759,"6600 Three Oaks Cir, Austin, TX 78759 is a sin...",30.426525,-97.761047,1.98,2,False,True,True,True,False,False,Single Family,2,1974,499000.0,3,2021-01-30,1,2021,Realty Austin,61,0,4,2,3,1,0,0,0,10018.0,1570.0,1,0,1,1,1.733333,8.333333,1638,16,2.0,3,1,29371554_0993461be0c27aceff2102ae106b0947-p_f.jpg,2021-01,2021-01-30

In [ ]:
# Check that month_year is string type for SQL Join
df3.dtypes

zpid                                   int64
city                                  object
streetAddress                         object
zipcode                                int64
description                           object
latitude                             float64
longitude                            float64
propertyTaxRate                      float64
garageSpaces                           int64
hasAssociation                          bool
hasCooling                              bool
hasGarage                               bool
hasHeating                              bool
hasSpa                                  bool
hasView                                 bool
homeType                              object
parkingSpaces                          int64
yearBuilt                              int64
latestPrice                          float64
numPriceChanges                        int64
latest_saledate                       object
latest_salemonth                       int64
latest_saleyear                        int64
latestPriceSource                     object
numOfPhotos                            int64
numOfAccessibilityFeatures             int64
numOfAppliances                        int64
numOfParkingFeatures                   int64
numOfPatioAndPorchFeatures             int64
numOfSecurityFeatures                  int64
numOfWaterfrontFeatures                int64
numOfWindowFeatures                    int64
numOfCommunityFeatures                 int64
lotSizeSqFt                          float64
livingAreaSqFt                       float64
numOfPrimarySchools                    int64
numOfElementarySchools                 int64
numOfMiddleSchools                     int64
numOfHighSchools                       int64
avgSchoolDistance                    float64
avgSchoolRating                      float64
avgSchoolSize                          int64
MedianStudentsPerTeacher               int64
numOfBathrooms                       float64
numOfBedrooms                          int64
numOfStories                           int64
homeImage                             object
month_year                            object
latest_saledate_dt            datetime64[ns]
dtype: object

In [ ]:
# Upload house appreciation CSV
uploaded = files.upload()

Saving house_appreciation.csv to house_appreciation.csv

In [ ]:
# Read house appreciation CSV into dataframe, check dataype to make sure month_year is string
app_df = pd.read_csv(io.BytesIO(uploaded['house_appreciation.csv']))
app_df.dtypes

Date                      object
month_year                object
dec_2019_appreciation    float64
jan_2021_appreciation    float64
Sales                     object
Dollar Volume             object
Average Price             object
Median Price              object
Total Listings            object
Months Inventory         float64
dtype: object

In [ ]:
# Remove unneeded columns from house appreciation dataframe
app_df_clean = app_df[['month_year', 'dec_2019_appreciation', 'jan_2021_appreciation']]
app_df_clean.head()

  month_year  dec_2019_appreciation  jan_2021_appreciation
0    2018-01               1.260558               1.466393
1    2018-02               1.164120               1.354207
2    2018-03               1.146151               1.333304
3    2018-04               1.076628               1.252429
4    2018-05               1.135428               1.320830

In [ ]:
# Raw Housing dataframe to Heroku SQL
df3.to_sql(name='raw_housing_data_3', con=engine)

In [ ]:
# House Appreciation dataframe to Heroku SQL
app_df_clean.to_sql(name='house_appreciation', con=engine)

In [ ]:
# SQL to dataframe using sqlalchemy
import pandas as pd

df = pd.read_sql_table('raw_housing_data_2', engine)
df.head()

,index,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,homeType,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,latest_saledate,latest_salemonth,latest_saleyear,latestPriceSource,numOfPhotos,numOfAccessibilityFeatures,numOfAppliances,numOfParkingFeatures,numOfPatioAndPorchFeatures,numOfSecurityFeatures,numOfWaterfrontFeatures,numOfWindowFeatures,numOfCommunityFeatures,lotSizeSqFt,livingAreaSqFt,numOfPrimarySchools,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,True,True,True,False,False,Single Family,2,2012,305000.0,5,2019-09-02,9,2019,"Coldwell Banker United, Realtors - South Austin",39,0,5,2,1,3,0,1,0,6011.0,2601.0,1,0,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,True,True,True,False,False,Single Family,2,2013,295000.0,1,2020-10-13,10,2020,Agent Provided,29,0,1,2,0,0,0,0,0,6185.0,1768.0,1,0,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,True,False,True,False,False,Single Family,0,2018,256125.0,1,2019-07-31,7,2019,Agent Provided,2,0,4,1,0,1,0,0,0,7840.0,1478.0,0,2,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,True,True,True,False,False,Single Family,2,2013,240000.0,4,2018-08-08,8,2018,Agent Provided,9,0,0,2,0,0,0,0,0,6098.0,1678.0,1,0,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,True,False,True,False,False,Single Family,0,2002,239900.0,3,2018-10-31,10,2018,Agent Provided,27,0,0,1,0,0,0,0,0,6708.0,2132.0,1,0,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg